body { background: #4f94d3; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 38px; display: flex; }
.block-uploader-0 { color: #e58fd4; font-size: 21px; margin-bottom: 5px; }
.block-uploader-1 { color: #275b4b; font-size: 12px; margin-bottom: 5px; }
.block-search-2 { color: #5242d3; font-size: 21px; margin-bottom: 5px; }
.block-session-3 { color: #7610d1; font-size: 13px; margin-bottom: 5px; }
.block-email-4 { color: #56a250; font-size: 21px; margin-bottom: 5px; }